#setup {
	display: none;
}

.application {
	display: grid;
	grid-template-rows: max-content 1fr max-content;
	gap: 2rem;
	min-height: 100vh;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
	padding: var(--space-l);
	place-items: center;
}
@media (orientation: portrait) {
	.wrapper {
		grid-template-columns: none;
		/* grid-template-rows: repeat(3, 1fr); */
	}
}
