#setup {
	display: none;
}

.application {
	display: grid;
	grid-template-rows: max-content 1fr max-content;
	min-height: 100vh;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
}
