/* .clock {
	--border-width: 0;
	--border-radius: 100vh;
	text-align: center;

	.current-time [slot='header'] {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
} */

#clock_block {
	background-color: var(--clr-neutral-999);
}

.clock {
	&::part(base) {
		background-color: var(--clr-neutral-700);
		display: block;
		text-align: center;
		font-size: var(--fs-1);
		line-height: var(--lh-0);
		padding-inline: var(--space-l);
	}

	[id],
	[name='clock'] {
		font-size: var(--fs-4);
	}

	.current-time-group {
		display: flex;
		gap: 1.5rem;
		align-items: center;
	}
}
