#control_block {
	background-color: var(--clr-neutral-999);
}

.session-control {
	&::part(base) {
		background-color: var(--clr-neutral-700);
		text-align: center;
		font-size: var(--fs-2);
		font-size: var(--fsq-2);
		font-weight: var(--sl-font-weight-normal);
		line-height: var(--lh--1);
		padding: var(--space-em-3xs) var(--space-em-xs);
	}

	&::part(label) {
		padding-inline: var(--space-em-3xs);
	}

	sl-icon {
		height: 1.085em;
		width: 1.085em;
	}
}

/* Negate the inline padding for the outside group buttons  */
.session-control-group {
	sl-button:first-of-type::part(label),
	sl-button:last-of-type::part(label) {
		padding-inline: 0;
	}
}

/* :first-of-typesl-button::part(label) {
	background-color: red;
} */
/* sl-button::part(label):last-of-type  */
