.settings-button {
	position: absolute;
	display: grid;
	place-content: center;
	padding: var(--space-3xs);
	/* border-radius: var(--br-pill) 0 0 var(--br-pill);
	background-color: var(--clr-neutral-700); */
	/* border: solid 1px var(--clr-neutral-000); */
	inset-inline-end: 0;
	inset-block-start: 0;
	/* height: 100%; */
	sl-icon-button {
		font-size: var(--fs-2);
		color: var(--clr-neutral-000);
	}
}
