:root {
	--progress-indicator-color-complete: var(--clr-critical-100);
	--progress-indicator-progress-stroke: var(--clr-active-700);
	--progress-indicator-bg-stroke: var(--clr-neutral-500);
	--transition-s: 2000ms;
}

progress-indicator {
	width: 100%;
	max-width: 50vh;
}

.progress-indicator {
	font-family: var(--font-base);
	line-height: 1.1;
	container-type: inline-size;
	/* todo: delete comment. Can probably loose --progress-indicator-viewbox: 100px assignment in component? This has to do with scaling indicator circles.*/
	/* width: var(--progress-indicator-viewbox); */
	/* width: 100%; */
	height: auto;
}

.progress-indicator__progress-circle {
	stroke: var(--progress-indicator-progress-stroke, currentColor);
	transition: stroke-dashoffset var(--transition-s) linear;
	/* ! Note: The transform-origin doesn't work in Safari, so I moved the rotation to the SVG */
	/* rotate: -90deg;
	transform-origin: 50% 50%; */
}

.progress-indicator__background-circle {
	stroke: var(--progress-indicator-bg-stroke, gray);
	fill: var(--clr-neutral-000);
}

.progress-indicator__check {
	width: var(--progress-indicator-check-size, 60cqw);
	height: auto;
	display: none;
	color: var(--clr-neutral-900);
}

.progress-indicator__count-container {
	display: grid;
	grid-template-rows: 1.5fr 1fr;
	justify-items: center;
	align-items: center;
	text-align: center;
}

.progress-indicator__count {
	font-size: var(--progress-indicator-count-size, max(25cqw, 1rem));
	z-index: 1;
}

.progress-indicator__visual {
	display: grid;
	grid-template-areas: 'stack';
	/* align-items: center; */
	place-items: center;
	color: var(--clr-neutral-900);
}

.progress-indicator__visual > * {
	grid-area: stack;
}

/* Respond to data-progress-state change in JS */
[data-progress-state='complete'] {
	.progress-indicator__progress-circle {
		fill: var(--progress-indicator-color-complete);
	}
	.progress-indicator__background-circle {
		stroke: var(--progress-indicator-color-complete), gray;
	}
	.progress-indicator__count {
		display: none;
	}
	.progress-indicator__check {
		display: revert;
	}
}
[data-progress-warn-state='false'],
[data-progress-state='complete'] {
	[data-progress-warn-el] {
		display: none;
		opacity: 0;
		transition: all var(--transition-s);
	}
}

[data-progress-warn-state='pending'],
[data-progress-warn-state='true'] {
	[data-progress-warn-el] {
		display: revert;
		opacity: 1;
		transition: all var(--transition-s);
	}
}

[data-progress-warn-state='pending'] [data-progress-warn-el] {
	&::part(base) {
		padding: 1em;
		background-color: var(--clr-neutral-500);
	}
	slot {
		display: none;
	}
}

[data-progress-title] {
	text-align: center;
}
